anyio
anywidget==0.9.18
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
Bottleneck
Brotli
brotlicffi
bslib==0.7
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fonttools
h11
htmltools
httpcore
httpx
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kagglehub
kiwisolver
linkify-it-py
markdown-it-py
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mdit-py-plugins
mdurl
mistune
narwhals==2.5.0
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numexpr
numpy
orjson
overrides
packaging
pandas
pandas_flavor==0.7.0
pandocfilters
parso
patsy==1.0.1
pexpect
pickleshare
pillow
pingouin==0.5.5
platformdirs
plotly
prometheus_client
prompt_toolkit
psutil
psygnal==0.14.2
ptyprocess
pure_eval
pyarrow==21.0.0
pycparser
Pygments
pyparsing
PySocks
python-dateutil
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
questionary
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
shiny==1.5.0
shinychat==0.2.8
shinywidgets
six
sniffio
soupsieve
stack_data
starlette
statsmodels==0.14.5
tabulate==0.9.0
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
typing_extensions
tzdata
uc-micro-py
unicodedata2
urllib3
uvicorn
watchfiles
wcwidth
webencodings==0.5.1
websocket-client
websockets
widgetsnbextension
xarray==2025.9.0
zipp
